[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/yasnippets-rails"]
	path = vendor/yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/philjackson/magit.git
[submodule "vendor/cucumber.el"]
	path = vendor/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/nginx-mode"]
	path = vendor/nginx-mode
	url = git://github.com/ajc/nginx-mode.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/Enhanced-Ruby-Mode"]
	path = vendor/Enhanced-Ruby-Mode
	url = git@github.com:jacott/Enhanced-Ruby-Mode.git
